<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Add Employee Page</h1>
	<form action="add" method="post" th:object="${emp}">
		<table>
			<tr>
				<td>Employee Id</td>
				<td><input type="text" th:field="*{empId}"></td>
			</tr>
			<tr>
				<td>Employee Name</td>
				<td><input type="text" th:field="*{name}"></td>
			</tr>
			<tr>
				<td>City</td>
				<td><input type="text" th:field="*{city}"></td>
			</tr>
			<tr>
				<td>Salary</td>
				<td><input type="text" th:field="*{salary}"></td>
			</tr>
			<tr>
				
				<td colspan="2"><input type="submit" value="Add Emp"></td>
			</tr>
		</table>
	</form>
</body>
</html>